# Lab 2: numpy

#### Practice Exercise 1

Create the following NumPy arrays: 
1. A 1-D array called zeros having 10 elements and all the elements are set to zero. 
2. A 1-D array called vowels having the elements ‘a’, ‘e’, ‘i’, ‘o’ and ‘u’. 
3. A 2-D array called ones having 2 rows and 5 columns and all the elements are set to 1 and dtype as int. 
4. Use nested Python lists to create a 2-D array called myarray1 having 3 rows and 3 columns and store the following data: 2.7,  0,  -2,  3.4,  10.6,  0,  -19 99.9 13 
5. A 2-D array called myarray2 using arange() having 3 rows and 5 columns with start value = 4, step size 4 and dtype as float

In [12]:
# Write your answer here
import numpy as np
#1)

#zeros = np.array([0,0,0,0,0,0,0,0,0,0])
#or
zeros = np.zeros(10,dtype = int)
zeros.dtype    #returns data type of the array
zeros.shape    #returns the shape of the array
zeros.ndim    #returns array dimentions
zeros

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [14]:
#2)
vowels = np.array(['a','o','i','u','e'])
vowels.dtype
vowels

array(['a', 'o', 'i', 'u', 'e'], dtype='<U1')

In [10]:
#3)
#ones = np.array([1,1,1,1,1],[1,1,1,1,1])
# or
ones = np.ones(10, dtype = int).reshape(2,5)    #reshaping it into 2 rows and 5 columns
ones

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [20]:
#4)
# question spesified nested list. but this also works:
#myarray1 = np.array([[2.7,0,-2],[3.4,10.6,0],[-19,99.9,13]])
# OR
myarray1 = np.array([2.7, 0, -2, 3.4, 10.6, 0, -19, 99.9, 13]).reshape(3,3)
myarray1.ndim
myarray1

array([[  2.7,   0. ,  -2. ],
       [  3.4,  10.6,   0. ],
       [-19. ,  99.9,  13. ]])

In [22]:
#5)
myarray2 = np.arange(4, 4+ 15*4, 4, dtype=float).reshape(3,5)
myarray2

array([[ 4.,  8., 12., 16., 20.],
       [24., 28., 32., 36., 40.],
       [44., 48., 52., 56., 60.]])

Using the arrays created in Question above, write NumPy commands for the following: 
1. Find the dimensions, shape, size, data type of the items and itemsize of arrays zeros, vowels, ones, myarray1 and myarray2. 
2. Reshape the array ones to have all the 10 elements in a single row. 
3. Display the 2nd and 3rd element of the array vowels. 
4. Display all elements in the 2nd and 3rd row of the array myarray1. 
5. Display the elements in the 1st and 2nd column of the array myarray1. 
6. Display the elements in the 1st column of the 2nd and 3rd row of the array myarray1. 
7. Reverse the array of vowels.

In [34]:
#Write your answer here
q1 = myarray2.ndim, myarray2.size, myarray2.dtype, myarray2.shape
# , myarray2.itemtype
q1

(2, 15, dtype('float64'), (3, 5))

In [32]:
q2 = ones = ones.reshape(1,10)
ones

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [26]:
q3 = vowels[1:3] # displays elemnts from index 1-3 (3 doesnt count)
q3

array(['o', 'i'], dtype='<U1')

In [ ]:
q4 = myarray1[1:3, ]

In [ ]:
q5 =

In [ ]:
q6 =
#myarray1[1:3]

Using the arrays created in Question above, write NumPy commands for the following:
1. Divide all elements of array ones by 3. 
2. Add the arrays myarray1 and myarray2. 
3. Subtract myarray1 from myarray2 and store the result in a new array. 
4. Multiply myarray1 and myarray2 elementwise. 
5. Do the matrix multiplication of myarray1 and myarray2 and store the result in a new array myarray3. 
6. Divide myarray1 by myarray2. 
7. Find the cube of all elements of myarray1 and divide the resulting array by 2. 
8. Find the square root of all elements of myarray2   and divide the resulting array by 2. The result  should be rounded to two places of decimals.

In [ ]:
# Write your answer here
q1 = ones/3

In [42]:
q2 = myarray2[: ,:3] + myarray1
q2

array([[  6.7,   8. ,  10. ],
       [ 27.4,  38.6,  32. ],
       [ 25. , 147.9,  65. ]])

In [40]:
q7 = (myarray1** 3)/2
q7

array([[ 9.841500e+00,  0.000000e+00, -4.000000e+00],
       [ 1.965200e+01,  5.955080e+02,  0.000000e+00],
       [-3.429500e+03,  4.985015e+05,  1.098500e+03]])

In [38]:
q8 = np.round(np.sqrt(myarray2)/2,2)    #numpy has all numerical functions
q8

array([[1.  , 1.41, 1.73, 2.  , 2.24],
       [2.45, 2.65, 2.83, 3.  , 3.16],
       [3.32, 3.46, 3.61, 3.74, 3.87]])

Using the arrays created above, write NumPy commands for the following: 
1. Find the transpose of ones and myarray2. 
2. Sort the array vowels in reverse. 
3. Sort the array myarray1 such that it brings the lowest value of the column in the first row and so on.

In [4]:
# Write your answer here
np.transpose(myarray2)  # myarray2.T 
np.sort(myarray1)  
np.sort(myarray1, 0) #(to sort by column)

Create a 2-D array called myarray4 using arange() having 14 rows and 3 columns with start value = -1, step size 0.25 having. Split this array row wise into 3 equal parts and print the result.

In [44]:
# Write your answer here
myarray4 = np.arange(-1,-1 + 0.25*42, 0.25).reshape(14,3)
np.array_split(myarray4,3)
# syntax: np.arange(1st element, 1st element + step size * array size, stepsize)

[array([[-1.  , -0.75, -0.5 ],
        [-0.25,  0.  ,  0.25],
        [ 0.5 ,  0.75,  1.  ],
        [ 1.25,  1.5 ,  1.75],
        [ 2.  ,  2.25,  2.5 ]]),
 array([[2.75, 3.  , 3.25],
        [3.5 , 3.75, 4.  ],
        [4.25, 4.5 , 4.75],
        [5.  , 5.25, 5.5 ],
        [5.75, 6.  , 6.25]]),
 array([[6.5 , 6.75, 7.  ],
        [7.25, 7.5 , 7.75],
        [8.  , 8.25, 8.5 ],
        [8.75, 9.  , 9.25]])]

Using the myarray4 created in the above questions, write commands for the following: 
1. Find the sum of all elements. 
2. Find the sum of all elements row wise
3. Find the sum of all elements column wise. 
4. Find the max of all elements. 
5. Find the min of all elements in each row. 
6. Find the mean of all elements in each row. 
7. Find the standard deviation column wise.

In [46]:
# Write your ansewr here
np.sum(myarray4)

173.25

#### Practice Exercise 2
Read the coordinates of the capital cities of the world from the country-capital-lat-long-population.csv file. Use NumPy to print the name and coordinates of the capital city closest to the Saudi Arabia capital - Riyadh.

Note that:

1. The Country Name for Saudi Arabia is given as Saudi Arabia in the data.
2. The ‘closeness’ of capital cities from the Saudi Arabia capital is based on the Euclidean distance of their coordinates to those of the Saudi Arabia capital.


Hints:

1. Use read_html() from the Pandas library to read the table.
2. Use the to_numpy() function of the Pandas DataFrame class to convert a DataFrame to a Numpy array
3. Use broadcasting to compute the euclidean distance of capital cities from Riyadh.

In [2]:
# Write your answer here
import pandas as pd
capitals = pd.read_csv('country-capital-lat-long-population.csv')
capitals.head()

,Country,Capital City,Latitude,Longitude,Population,Capital Type
0,Afghanistan,Kabul,34.5289,69.1725,4011770,Capital
1,Albania,Tiranë (Tirana),41.3275,19.8189,475577,Capital
2,Algeria,El Djazaïr (Algiers),36.7525,3.0420,2693542,Capital
3,American Samoa,Pago Pago,-14.2781,-170.7025,48526,Capital
4,Andorra,Andorra la Vella,42.5078,1.5211,22614,Capital

#### Practical Exercise 2

Use NumPy to:

1. Print the names of the countries of the top 10 capital cities closest to the US capital - Washington DC.

2. Create and print a NumPy array containing the coordinates of the top 10 cities.

In [12]:
# Write your answer here